### IGNORE FILES FROM GIT ###

### MAC OSX FILES ###
*._*
*.DS_STORE

### PROJECT-SPECIFIC FILES ###
PROJECTS/2016_09_AQUAPHONEIA/BOIL/archive/BOIL-v0.2.maxpat
TML-code/.DS_Store
TML-code/VIDEO/.DS_Store
TML-code/.DS_Store
.DS_Store
PROJECTS/2016_09_AQUAPHONEIA/DRIP/default.mubu
